<!DOCTYPE html>
<html>
    <head>
        <title>Upkaar — Sign Up</title>
    </head>
    <body>
        <form action="/signup" method="post">
        <div>
            <label for="username">Username: </label><input type=text id="username" name="username">
        </div>
        <div>
            <label for="password">Password: </label><input type=password id="password" name="password">
        </div>
        <div>
            <label for="retype-password">Retype Password: </label><input type=password id="retype-password" name="retype-password">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
        </form>
    </body>
</html>
